.food {
  padding-bottom: 80px;
  &__wrapper {
    display: flex;
    justify-content: center;
  }&__item{
      &_p{
          padding-left: 30px;
      }
  }
  &__title {
    font-family: Cormorant;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #1f1f1f;
    span {
      color: #ff8126;
    }
  }
  &__reasons{
    padding-left: 40px;
      list-style:none;
  }
  &__btn {
    margin-top: 10px;
    width: 270px;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    background: #ff8126;
    border-radius: 5px;
    text-align: center;
    border:none;
    color: #ffffff;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    color: #1f1f1f;
  }
  &__reasons {
    margin-top: 40px;
    li {
        position: relative;
      margin-bottom: 20px;
      &::before{
          display: block;
          content:url("../icons/reasons.png");
          position: absolute;
          left: -40px;
          top: 0;

      }
    }
  }
}
