.partner {
  padding: 60px 0;
  background: url("../img/partner_bg.jpg") rgb(88, 115, 231);
  &__title {
    font-family: Cormorant;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
  }
  &__img {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
  }
  &__btn {
    padding:  10px 30px;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    background: #ff8126;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    border:none;
  }
}
